.dialog a {
    text-decoration: none;
    color: #000;
}
.dialog a.active {
    color: white;
}
.dialog a:hover {
    font-weight: bold;
    cursor: pointer;
}
.dialog a img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.dialog a img:hover {
    cursor: pointer;
}