.description {
    padding: 10px;
}
.description .avaImg {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.fullName {
font-size: larger;
    font-weight: bold;
}
.statusBtn {
    margin: 10px 0;
}
.statusInput {
    border-radius: 2px;
    background: transparent;
    border: 1px solid #555;
    color: #000;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
}