.app-wrapper {
  display: grid;
  width: auto;
  margin: 0 auto;
  grid-template-areas:
    'header header'
    'nav content';
  grid-template-rows: 90px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}
.app-wrapper-content {
  grid-area: content;
  background-color: #30c3f0;
}
.app-wrapper-content img {
  width: 1000px;
}
button {
  padding: 0.7rem 1rem;
  height: 2.7rem;
  display: block;
  border: 0;
  border-radius: 2px;
  font-weight: 500;
  background: #1992BC;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.5s;
}
button:hover {
  background-color: #169ccd;
}


