.app-wrapper {
  display: grid;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  grid-template-areas:
    'nav header'
    'nav content';
  grid-template-rows: 90px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  background: linear-gradient(rgba(52, 152, 219,0.5),rgba(41, 128, 185,0.7), rgba(230, 126, 34,0.5), rgba(211, 84, 0,0.7));

}
.app-wrapper-content {
  grid-area: content;
}
button {
  padding: 0.7rem 1rem;
  height: 2.7rem;
  display: block;
  border: 1px solid black;
  border-radius: 2px;
  font-weight: bold;
  background: transparent;
  color: #000;
  opacity: .6;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}
button:hover {
  opacity: 1;
}


