.dialogs {
display: grid;
    grid-template-columns: 2fr 10fr;
    height: 100vh;
}
.dialogsItem {
    padding: 10px;
}
.messages {
    padding: 10px;
}
.input > textarea {
    margin-bottom: 1.3rem;
    width: 300px;
    border-radius: 2px;
    background: transparent;
    border: 1px solid #555;
    color: #000;
    padding: 0.5rem 1rem;
    line-height: 1.3rem;
}
::-moz-placeholder {
    color: #000;
}
::-webkit-input-placeholder {
    color: #000;
}
